<div class="bg-white rounded-xl shadow-sm border border-slate-200 overflow-hidden">
  <p-table
    [value]="patientService.patients()"
    [paginator]="true"
    [rows]="5"
    styleClass="p-datatable-sm"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Zgłaszany Objaw</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-patient>
      <tr>
        <td class="font-mono text-slate-500">#{{ patient.id }}</td>
        <td class="font-medium">{{ patient.firstName }}</td>
        <td class="font-medium">{{ patient.lastName }}</td>
        <td>
          <span class="bg-red-100 text-red-800 px-2 py-1 rounded-md text-sm font-semibold">
            {{ patient.mainSymptom }}
          </span>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4" class="text-center p-4 text-slate-500">Brak pacjentów w kolejce.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
